{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
<div class="container my-3">
    <main class="main">
        <div class="area-main">
            <!-- article -->
            <div class="area-common">
                <!-- 선택된 카테고리 -->
                <h2 class="article-category">
                    <b>전체 글</b>
                    <span>???개</span>
                </h2>
                <article class="article">
                    <a href="#" class="article-img">
                        <img src="{{ url_for('static', filename='img/test_img1.jfif') }}" class="thumbnail">
                    </a>
                    <div class="article-content">
                        <a href="#" class="link-article">
                            <!-- 제목 -->
                            <p class="title">
                                <b>'무협의 과학' 특강 | 주변에서 찾아보는 무협의 과학</b>
                            </p>
                            <!-- 내용 -->
                            <p class="summary">안녕하세요 궤도님 그리고 이말년님! 항상 궤도님, 침착맨 영상 보고 있는 자사고 이과생입니다. 
                                과학교육과를 꿈꾸고 있는지라 어떻게하면 더 쉽게, 재미있게, 흥미있게 과학을 (특히 물리를) 설명하는지에 대한 관심이 많습니다. 
                                이런 저런 고민을 할때는 그냥 연구나 할까, 이 길이 아닌가 생각하기도 하지만, 
                                어느새 궤도님이 해주시는 과학얘기에 빨려들어가있는 저를 발견하면 마음을 다잡곤 합니다. 
                                과학은 참 흥미롭고 아름다우며 친근하면서도 인간의식의 정수라고 생각합니다! 이런 과학을 많은 분께, 
                                그리고 저에게도 풀어주셔서 항상 영상 잘보고 있습니다:) 영상은 짧아졌지만 주기가 늘었다니 더 기분이 좋습니다. 
                                오늘 영상도 잘봤고, 다음 영상도 기대하겠습니다! 저도 꿈을 위해 더 노력해 보도록 하겠습니다!
                            </p>
                        </a>
                        <div class="box-meta">
                            <!-- 카테고리 -->
                            <a href="#" class="link-category">(Category)Science</a>
                            <!-- 작성일 -->
                            <span class="date">2022.12.15</span>
                        </div> 
                    </div>
                </article>
                <article class="article">
                    <a href="#" class="article-img">
                        <img src="{{ url_for('static', filename='img/test_img2.jpg') }}" class="thumbnail">
                    </a>
                    <div class="article-content">
                        <a href="#" class="link-article">
                            <!-- 제목 -->
                            <p class="title">
                                <b>'누리호의 과학' 특강 | 누리호의 성공 분석</b>
                            </p>
                            <!-- 내용 -->
                            <p class="summary">솔직히 과학에 크게 관심이 없을 뿐더러 그냥 무지성으로 '과학에 투자해야지~ 연구해야지~' 말곤 별 생각이 없었는데
                                궤도님의 영상을 본 이후로 우리나라 과학 연구진이 이렇게나 열악한 환경에서 대단한 업적을 일궈내시느라 노고가 많으셨다는 것에 대한 존경심과 더불어
                                과학에 대한 관심이 생겼어요. 궤도님 짱! 앞으로도 과학 커뮤니케이터 과학 애호가로서 오래오래 함께 해주세요~!!!
                            </p>
                        </a>
                        <div class="box-meta">
                            <!-- 카테고리 -->
                            <a href="#" class="link-category">(Category)Science</a>
                            <!-- 작성일 -->
                            <span class="date">2022.12.16</span>
                        </div> 
                    </div>
                </article>
            </div>
            <!-- category menu -->
        </div>
    </main>
</div>
{% endblock %}
