{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
<div class="container my-3">
    <main class="main">
        <!-- article -->
        <div class="area-main">
            <!-- 선택된 카테고리 -->
            <h2 class="article-category">
                <b>전체 글</b>
                <span>???개</span>
                {% if g.user %}
                <a href="{{ url_for('mypage.post_write') }}" class="btn btn-secondary" style="float:right">글 작성하기</a>
                {% endif %}
            </h2>
            {% if post_list %}
            {% for post in post_list.items %}
            <!-- post_list 가 Pagination 객체이기 때문에 post_list 대신 post_list.items 사용해야 함 --> 
            <article class="article">
                <a href="{{ url_for('mypage.post_view', post_id=post.id) }}" class="article-img">
                    <img src="{{ url_for('static', filename='img/test_img1.jfif') }}">
                </a>
                <div class="article-content">
                    <a href="{{ url_for('mypage.post_view', post_id=post.id) }}" class="link-article">
                        <p class="title">
                            <b>{{ post.subject }}</b>
                        </p>
                        <p class="summary">
                            {{ post.content }}
                        </p>
                    </a>
                    <div class="box-meta">
                        <a href="#" class="link-category">(Category)</a>
                        <span class="date">작성: {{ post.create_date | datetime }}</span>
                        <span class="date">수정: {{ post.modify_date | datetime }}</span>
                    </div>
                </div>
            </article>
            {% endfor %}
            {% endif %}
        </div> 
        <!-- category menu -->
        <aside class="area-aside">
            <ul class="navbar-category">
                <li>
                    <a href="#">
                        ㄱ
                        <span class="cnt">(n)</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                a
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                b
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                c
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        B
                        <span class="cnt">(n)</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                a
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                b
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                c
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        C
                        <span class="cnt">(n)</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                a
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                b
                                <span class="cnt">(n)</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>

        </div>
        <!-- paging -->
        <div class="area-pagination">
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                {% if post_list.has_prev %}
                <li>
                    <a class="page-link" href="?page={{ post_list.prev_num }}"> < </a>
                </li>
                {% else %}
                <li>
                    <a class="page-link" href="#"> < </a>
                </li>
                {% endif %}

                {% for page_num in post_list.iter_pages() %}
                    {% if page_num %}
                        {% if page_num != post_list.page %}
                        <!-- 현재 페이지가 아니라면 -->
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                        {% else %}
                        <!-- 현재 페이지는 active 로 강조표시 -->
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                        {% endif %}
                    {% else %}
                        <li class="disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- 다음 페이지 -->
                {% if post_list.has_next %}
                <li>
                    <a class="page-link" href="?page={{ post_list.next_num }}"> > </a>
                </li>
                {% else %}
                <li>
                    <a class="page-link" href="#"> > </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </main> 
</div>
{% endblock %}