{% extends 'base.html' %}
{% block content %}

<div class="overlay"></div>
<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="container">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carouself-caption d none d-md-block">
                    <h1 class="carousel-title">포트폴리오 올리고 설명하기</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carouself-caption d none d-md-block">
                    <h1 class="carousel-title">나만의 학습 플래너</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carouself-caption d none d-md-block">
                    <h1 class="carousel-title">Q n A 및 협업 커뮤</h1>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}