{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
<div class="container">
    <div class="container my-3">
        <div class="post-header">
            <div class="post-header-subject">{{ post.subject }}</div>
            <div class="post-header-datetime">작성: {{ post.create_date | datetime }}</div>
            {% if post.create_date != post.modify_date %}
            <div class="post-header-datetime">수정: {{ post.modify_date | datetime }}</div>
            {% else %}
            <div class="post-header-datetime">수정: X </div>
            {% endif %}
        </div>
        <div class="post-body">
            <textarea class="form-control ck-editor_editable" id="editor" name="content" id="content" rows="10">{{ post.content or '' }}</textarea>
            <script>
                ClassicEditor
                    .create( document.querySelector('#editor'), {
                        language: { ui: 'ko', content: 'ko' }
                    })
                    .then( editor => {
                        editor.enableReadOnlyMode("editor");
                        const toolbarElement = editor.ui.view.toolbar.element;
                        toolbarElement.style.display = 'none';
                    })
                    .catch( error => {
                        console.error (error);
                    });
            </script>
        </div>
    </div>
    <div>
        {% if g.user == post.user %}
        <a href="{{ url_for('mypage.post_delete', post_id=post.id) }}" class="btn btn-secondary" style="float:right; margin:5px;">글 삭제하기</a>
        <a href="{{ url_for('mypage.post_revision', post_id=post.id) }}" class="btn btn-secondary" style="float:right; margin:5px;">글 수정하기</a>
        {% endif %}
    </div>
</div>
{% endblock %}