{% extends 'base.html' %}
{% block content %}
<style>
    :root {
        --font-size-md: clamp(0.6rem, 1vw, 2rem)
    }
    .background {
        background-image: url("{{ url_for('static', filename='img/library.jpg') }}");
        opacity: 0.95;
        margin-top: 2em;
        position: relative;
    }
    #btn {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-size-md);
    }
</style>


<div class="background">
    <div class="container my-3" style="width:30%; color: aquamarine; font-size: 200%;">
        <p>
            <img src="{{ url_for('static', filename='img/icon.png') }}"
            style="height: 50%; width:50%; margin-left: 25%; padding-top: 1em;">
            <p style="text-align: center;">MyArchive</p>
        </p>
    </div>


    <div class="container my-3" style="width:40%; color: aquamarine; font-size: 100%;">
        <form method="post" class="post-form">
        <!-- csrf 토큰은 데이터가 해당 사이트에서 생성된 데이터가 맞는지 확인하는데 사용됨 -->
            {{ form.csrf_token }}
            {% include "errors.html" %}
            <div class="container my-3 form-group">
                <label for="username">닉네임 (중복불가)</label>
                <input type="text" class="form-control" name="username" id="username"
                        value="{{ form.username.data or '' }}">
            </div>
            <div class="container my-3 form-group">
                <label for="userid">사용자ID (중복불가)</label>
                <input type="text" class="form-control" name="userid" id="userid"
                        value="{{ form.userid.data or '' }}">
            </div>
            <div class="container my-3 form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password1" id="password1"
                        value="{{ form.password1.data or '' }}">
            </div>
            <div class="container my-3 form-group">
                <label for="password">비밀번호 확인</label>
                <input type="password" class="form-control" name="password2" id="password2"
                        value="{{ form.password2.data or '' }}">
            </div>
            <div class="container my-3 form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" name="email" id="email"
                        value="{{ form.email.data or '' }}">
            </div>
            <div class="container my-4">
                <button type="submit" class="btn btn-primary" 
                style="width: 100%; font-size: large;">제출</button>
            </div>
            <p style="padding-bottom: 4em;"></p>
        </form>
    </div>
</div>
{% endblock %}
